@model AgentSaveViewModel
@{
    Layout = "~/Views/Shared/_Layoutproperty.cshtml";
}


<form id="registerForm" class="form-user" method="post" enctype="multipart/form-data">
    <input type="hidden" value="@Model.Id" asp-for="@Model.Id" />"

    <h2>Update Profile</h2>
    <hr />
    <div class="form-section">
        <div class="group">
            <label for="firstName">First Name</label>
            <input name="FirstName" type="text" id="firstName" asp-for="@Model.FirstName" required />
            <span class="text-danger" id="firstNameError" asp-validation-for="@Model.FirstName"></span>
        </div>

        <div class="group">
            <label for="lastName">Last Name</label>
            <input name="LastName" type="text" id="lastName" asp-for="@Model.LastName" required />
            <span class="text-danger" id="lastNameError" asp-validation-for="@Model.LastName"></span>
        </div>

        <div class="group">
            <label for="phoneNumber">Phone Number</label>
            <input name="PhoneNumber" type="text" id="phoneNumber" asp-for="@Model.PhoneNumber" required />
            <span class="text-danger" id="phoneNumberError" asp-validation-for="@Model.PhoneNumber"></span>
        </div>

         <div class="file-upload-group">
                <label for="fileInput" class="file-upload-label">
                    <i class="fas fa-plus-circle"></i> Upload File
                </label>
                <input  type="file" id="fileInput" class="file-upload-input" asp-for="@Model.Picture"  />
                @if(Model.PictureUrl != "")
                {
                        <img id="previewImage" alt="Image preview" src= "@Model.PictureUrl">
                }
                else
                {
                        <img id="previewImage" src="~/images/placeholder.png" class="file-upload-image" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcyI9Cvp53aaP9XeRn-ZKbJDH2QaWC72O26A&s" />
                }
                <span class="text-danger" id="fileError" asp-validation-for="@Model.Picture"></span>
            </div>
        <div class="group">
            <button id="login-submit" type="submit" class="btn-user">Save</button>
        </div>

        
    </div>
</form>
@section Scripts {
            <script>
                document.getElementById('fileInput').addEventListener('change', function (event) {
                    const file = event.target.files[0];
                    if (file) {
                        const reader = new FileReader();
                        reader.onload = function (e) {
                            document.getElementById('previewImage').src = e.target.result;
                        };
                        reader.readAsDataURL(file);
                    }
                });
            </script>
}